# Ignore everything
*
# But not these files...
!.gitignore
!O_webserver.module.js
!readme.md
!O_request.module.js
!a_o_http_request_handler.module.js
!
!f_a_o_url_stack_trace.module.js
!o_webserver_config.module.js
!f_http_request_handler.module.js
!f_http_request_handler.module.js.example
# etc...