# Ignore everything
*
# But not these files...
!.gitignore
!O_webserver.module.js
!readme.md
!O_request.module.js
!default_f_handlers/fileexplorer/f_handler.js
!default_f_handlers/fileexplorer/*
!default_f_handlers/fileexplorer/
!default_f_handlers/fileexplorer
!default_f_handlers/*
!default_f_handlers/
!default_f_handlers
!o_environment.module.js
!f_a_o_path_file_stack_trace.module.js
!o_environment.example.js
# etc...